 
body {
    margin: 0;
    font-family: 'Bebas Neue' , sans-serif;
}
 
body * {
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}
 
.left-login > h1{
    font-size: 3vw;
    background: linear-gradient(45deg, #b81e0a, #ea8a1c, #b8060fe5);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
@keyframes degrade {
    0$ {
        background-position-x: 0%;
    }
 
    100%{
        background-position: 400%;
    }
   
}
 
.left-login-image{
    width: 36vw;
}
 
.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-image: linear-gradient(-90deg, #7a2156, #e72614, #f2a025);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgb(96, 88, 84) ;
}
 
.card-login > h1 {
    color: rgb(14, 14, 14);
    font-weight: 800;
    margin: 0;
}
 
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0%;
}
 
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(246, 240, 240);
    color: rgb(8, 8, 8);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(211, 98, 5) ;
    outline: none;
    box-sizing: border-box;
}
 
.textfield > label {
    color: rgb(247, 243, 243);
    margin-bottom: 10px;
}
 
.textfield > input::placeholder{
    color: rgb(174, 169, 169);
}
 
.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(36, 34, 31);
    background: rgb(240, 234, 234);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(232, 222, 222);
}
 
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
 
 
@media only screnn and (max-width: 600px){
    .main-login{
        flex-direction: column;
 
    }
    .left-login > h1{
     display: none;
 
    }
 
    .left-login {
        width: 100%;
        height: auto;
    }
 
    .right-login {
        width: 100%;
        height: auto;
    }
 
    .left-login-image {
        width: 50vw;
    }
 
    .card-login{
        width: 90%;
    }
 
   
 
}